<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-inline">
  <div class="col-md-2 col-lg-2 text-center">
    <select class="custom-select" id="operation" ngModel name="operation" [value]="selected">
      <option value="add">+</option>
      <option value="remove">-</option>
    </select>
  </div>
  <div class="col-md-4 col-lg-4 text-center my-3">
    <input type="text" class="form-control" ngModel name="title" [value]='title' placeholder="Title..">
  </div>
  <div class="col-md-4 col-lg-4 text-center my-3">
    <input type="text" class="form-control" ngModel name="amount" [value]='amount' placeholder="Amount..">
  </div>
  <div class="col-md-2 col-lg-2 text-center my-3">
    <button type="submit" class="btn btn-outline-primary w-100perc">
      <i class="fas fa-plus-circle"></i>
    </button>
  </div>
</form>